.btn{
	.transition(0.2s);
	.fp;
	margin: 0;
	padding: 0 20px;
	border : 0;
	height: @input-height;
	line-height: @input-height;
	font-size: 14px;
	font-weight: 600;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	overflow: visible;
	text-transform: uppercase;
	color: #fff;
	outline: none;
	text-align: center;
	background: @c1;
	&:hover{
		background: lighten(@c1,20%);
	}
}
.fileinputs {
	&:hover{
		input[type="button"] {
			background: lighten(@c1,20%);
		}
	}
}