.text-success {
	color: #6bba33;
}
.text-error {
	color: darken(red,10%);
}
#page-header {
	.menu-toggle {
		display: none;
		text-align: center;
		color: #fff;
		font-size: 24px;
		font-weight: 600;
		padding: 10px 0;
		cursor: pointer;
		@media @sm, @xs {
			display: block;
		}
		&:before{
			.fi;
			display: inline-block;
			vertical-align: bottom;
			content: '\e821';
			margin: 0 10px 0 0;
			font-size: 36px;
			line-height: 1;
			font-weight: normal;
			.header_menu-on & {
				content: '\e822';
			}
		}
	}
	.header_top {
		position: relative;
		z-index: 1;
		background: #303030;
	}
	.header_bottom {
		position: relative;
		background: #040404;
		background: -moz-linear-gradient(-87deg,  #040404 0%, #040404 50%, #1f1f1f 50%, #1f1f1f 100%);
		background: -webkit-linear-gradient(-87deg,  #040404 0%,#040404 50%,#1f1f1f 50%,#1f1f1f 100%);
		background: linear-gradient(177deg,  #040404 0%,#040404 50%,#1f1f1f 50%,#1f1f1f 100%);
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: url(../images/bg/02.png) top;
		}
		.inner {
			position: relative;
			float: left;
			margin: 0 0 0 -8%;
			width: 59.5%;
			height: 90px;
			background: #969696;
			background: -moz-linear-gradient(-45deg,  #969696 0%, #595959 100%);
			background: -webkit-linear-gradient(-45deg,  #969696 0%,#595959 100%);
			background: linear-gradient(135deg,  #969696 0%,#595959 100%);
			@media @sm {
				margin-left: -10%;
				width: 70%;
				height: 70px;
			}
			@media @xs {
				float: none;
				width: auto;
				height: auto;
				margin: 0 -20px;
				padding: 0 20px;
			}
			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: url(../images/bg/02.png) right;
			}
		}
	}
	.logo {
		position: relative;
		z-index: 1;
		float: left;
		width: 25%;
		@media @xs {
			width: auto;
			float: none;
		}
		@media @sm {
			width: 40%;
			margin: 0 0 -60px;
		}
		a {
			position: relative;
			display: block;
			padding: 10.2% 19% 7.5% 3%;
			@media @xs {
				padding: 8% 20%;
				margin: 0 -20px;
				background: #fff;
			}
			&:before{
				.border-radius(0 0 80% 0);
				content: '';
				position: absolute;
				top: 0;
				right: -12px;
				bottom: -48px;
				left: -52px;
				background: url(../images/bg/01.png);
				background-size: 100% 100%;
				@media @xs {
					display: none;
				}
			}
			img {
				position: relative;
				display: block;
				margin: auto;
			}
		}
	}
	.slogan {
		float: left;
		width: 88%;
		position: relative;
		text-transform: uppercase;
		font-size: 36px;
		padding: 25px 20px 0 18%;
		line-height: 1;
		color: #fff;
		@media @sm {
			padding-top: 17px;
			font-size: 32px;
		}
		@media @xs {
			float: none;
			width: auto;
			font-size: 24px;
			padding: 10px 0;
			text-align: center;
		}
	}
}
#col-bottom {
	position: relative;
	padding: 62px 0 25px;
	background: #303030;
}
#col-left {
	float: left;
	width: 240px;
	margin: 0 0 75px;
	@media @sm, @xs {
		width: auto;
		float: none;
	}
}
#col-main {
	float: right;
	width: 840px;
	margin: 0 0 75px;
	@media @md {
		width: 620px;
	}
	@media @sm, @xs {
		width: auto;
		float: none;
	}
}
.mod_breadcrumbs {
	margin: 40px 0 25px;
	ul {
		.rul;
		li {
			display: inline-block;
			font-weight: bold;
			font-size: 15px;
			color: @c2;
			margin: 0 10px 10px 0;
			&:before{
				font-weight: normal;
				color: @c1;
			}
			&.home {
				padding-left: 55px;
				&:before{
					display: none;
				}
				a {
					&:before{
						.fi;
						.border-radius(50%);
						content: '\e81a';
						position: absolute;
						left: 0;
						top: 50%;
						width: 40px;
						height: 40px;
						line-height: 38px;
						font-size: 18px;
						text-align: center;
						margin: -19px 0 0;
						border: 1px solid @c1;
					}
				}
			}
			a {
				font-weight: normal;
				color: @c1;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_menu-sidebar {
	margin: 13px 0 107px;
	&>ul {
		.rul;
		&>li {
			.rli;
			margin: 0 0 24px;
			@media @sm {
				display: inline-block;
				vertical-align: top;
				width: 33.3333%;
				margin-right: -4px;
			}
			&.act {
				&>a {
					color: @c2;
					&:before{
						color: #fff;
						background: @c1;
					}
				}
			}
			&>a {
				position: relative;
				display: block;
				padding: 0 0 0 55px;
				line-height: 1.2;
				font-size: 24px;
				color: @c1;
				text-transform: uppercase;
				text-decoration: none;
				&:hover{
					color: @c2;
					&:before{
						color: #fff;
						background: @c1;
					}
				}
				&:before{
					.fi;
					.border-radius(50%);
					content: '\e80e';
					position: absolute;
					left: 0;
					top: -6px;
					width: 40px;
					height: 40px;
					line-height: 38px;
					font-size: 24px;
					text-align: center;
					border: 1px solid @c1;
				}
			}
			ul {
				.rul;
				margin: 20px 0 0 55px;
				li {
					.rli;
					font-size: 16px;
					line-height: 1.2;
					margin: 0 0 10px;
					&.act {
						&>a {
							color: @c2;
						}
					}
					a {
						color: @c1;
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}
.mod_custom-info {
	position: relative;
	margin: 60px -25px 80px 0;
	color: #fff;
	font-size: 16px;
	line-height: 1.3;
	font-weight: normal;
	background: @c2;
	mark {
		font-weight: 900;
		color: #fff;
		font-size: 18px;
	}
	p {
		position: relative;
		z-index: 1;
	}
	.icon {
		position: absolute;
		top: -22px;
		left: -35px;
		width: 74px;
		height: 44px;
		line-height: 44px;
		font-size: 28px;
		color: #fff;
		text-align: center;
		background: @c1;
		&:before, &:after {
			content: '';
			position: absolute;
			bottom: 100%;
			left: 0;
			border: 37px solid transparent;
			border-top: 0;
			border-bottom: 21px solid @c1;
		}
		&:after{
			bottom: auto;
			top: 100%;
			border-bottom: 0;
			border-top: 21px solid @c1;
		}
	}
	.content {
		position: relative;
		overflow: hidden;
		padding: 30px 50px 45px 28px;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			border-top: 1000px solid transparent;
			border-right: 750px solid #fff;
		}
		&:after{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			border-top: 130px solid transparent;
			border-right: 1000px solid #fff;
		}
	}
}
.mod_menu-header {
	float: left;
	color: #fff;
	margin: 21px 0;
	@media @sm, @xs {
		float: none;
		text-align: center;
		display: none;
		.header_menu-on & {
			display: block;
		}
	}
	ul {
		.rli;
		.clearfix;
		li {
			.rli;
			float: left;
			font-size: 16px;
			line-height: 1;
			font-weight: 600;
			padding: 0 30px 0 0;
			margin: 0 35px 0 0;
			@media @sm, @xs {
				float: none;
				display: inline-block;
				margin: 0;
				padding: 0 20px;
			}
			&:before{
				left: 100%;
				top: 0;
				content: '|';
				font-size: 18px;
			}
			&:last-child {
				padding-right: 0;
				margin-right: 0;
				&:before{
					display: none;
				}
			}
			&.act {
				a {
					color: @c2;
				}
			}
			a {
				color: #fff;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_menu-lang {
	position: relative;
	float: right;
	color: #fff;
	margin: 21px 0 21px 33px;
	padding: 0 0 0 40px;
	text-align: center;
	@media @sm, @xs {
		float: none;
		margin: 0;
		padding: 40px 0 0;
		display: none;
		.header_menu-on & {
			display: block;
		}
	}
	&:before{
		.fi;
		content: '\e809';
		position: absolute;
		left: 0;
		top: 50%;
		font-size: 28px;
		line-height: 1;
		margin: -15px 0 0;
		@media @sm, @xs  {
			top: 0;
			left: 50%;
			margin: 0 0 0 -15px;
		}
	}
	ul {
		.rli;
		.clearfix;
		li {
			.rli;
			float: left;
			font-size: 16px;
			line-height: 1;
			font-weight: 600;
			padding: 0 0 0 17px;
			margin: 0 0 0 10px;
			color: @c2;
			text-transform: uppercase;
			@media @sm, @xs {
				float: none;
				display: inline-block;
			}
			&:before{
				left: 0;
				top: 0;
				content: '|';
				font-size: 16px;
			}
			&:first-child {
				padding-left: 0;
				margin-left: 0;
				&:before{
					display: none;
				}
			}
			&.act {
				a {
					color: #fff;
				}
			}
			a {
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_menu-login {
	position: relative;
	float: right;
	margin: 21px 0;
	@media @sm, @xs {
		float: none;
		text-align: center;
		display: none;
		.header_menu-on & {
			display: block;
		}
	}
	ul {
		.rli;
		.clearfix;
		li {
			.rli;
			float: left;
			font-size: 15px;
			line-height: 1;
			padding: 0 0 0 47px;
			margin: 0 0 0 20px;
			letter-spacing: 0.01em;
			color: @c2;
			text-transform: uppercase;
			@media @sm, @xs  {
				padding: 40px 0 0;
				margin: 0 10px;
				float: none;
				display: inline-block;
			}
			a {
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
				[class^="icon-"] {
					position: absolute;
					left: 0;
					top: 50%;
					font-size: 28px;
					line-height: 1;
					margin: -16px 0 0;
					@media @sm, @xs {
						top: 0;
						left: 50%;
						margin: 0 0 0 -16px;
					}
				}
			}
		}
	}
}
.mod_search {
	position: relative;
	float: left;
	width: 12%;
	@media @xs {
		float: none;
		width: auto;
	}
	.toggle {
		.transition(0.2s);
		display: block;
		color: #fff;
		text-align: center;
		height: 90px;
		line-height: 83px;
		padding: 7px 3px 0 0;
		cursor: pointer;
		@media @sm {
			height: 70px;
			line-height: 63px;
		}
		@media @xs {
			display: none;
		}
		&:hover{
			color: @c2;
			background: fade(#fff,5%);
		}
		&:before{
			.fi;
			content: '\e80a';
			font-size: 29px;
			line-height: 1;
			.mod_search-on & {
				content: '\e822';
			}
		}
	}
	form {
		display: none;
		position: absolute;
		right: 100%;
		top: 0;
		bottom: 0;
		background: @c1;
		width: 590%;
		@media @xs {
			display: block;
			position: static;
			width: auto;
		}
		.mod_search-on & {
			display: block;
		}
		&:before{
			content: '';
			position: absolute;
			right: 100%;
			top: 0;
			border-top: 90px solid transparent;
			border-right: 67px solid #fff;
			@media @sm {
				border-top-width: 70px;
				border-right-width: 53px;
			}
			@media @xs {
				display: none;
			}
		}
	}
	[type="text"], [type="search"] {
		position: absolute;
		top: 0;
		left: 0;
		border: 0;
		padding: 0 90px 0 20px;
		font-size: 20px;
		font-weight: 300;
		height: 90px;
		@media @sm {
			height: 70px;
		}
		@media @xs {
			position: static;
			height: 50px;
			font-size: 18px;
		}
	}
	button {
		position: absolute;
		top: 0;
		right: 0;
		width: 90px;
		height: 90px;
		font-size: 0px;
		padding: 0;
		@media @sm {
			width: 70px;
			height: 70px;
		}
		@media @xs {
			width: 50px;
			height: 50px;
		}
		&:before{
			.fi;
			content: '\e80a';
			font-size: 29px;
			line-height: 1;
			padding: 7px 0 0;
			line-height: 83px;
			@media @sm {
				line-height: 63px;
			}
			@media @xs {
				font-size: 20px;
				line-height: 50px;
			}
		}
	}
}
.mod_custom-basket {
	position: relative;
	width: 23.5%;
	float: left;
	@media @sm {
		width: auto;
		float: none;
		clear: both;
	}
	@media @xs {
		float: none;
		width: auto;
	}
	a {
		.transition(0.2s);
		.box-shadow(inset 2px 0 5px fade(#000,30%));
		display: block;
		height: 90px;
		line-height: 90px;
		color: #fff;
		text-decoration: none;
		padding: 0 28px 0 40px;
		font-weight: normal;
		background: #424242 url(../images/bg/02.png) left;
		@media @sm {
			text-align: right;
			height: 70px;
			line-height: 70px;
		}
		@media @xs  {
			margin: 0 -20px;
			padding: 20px 20px;
			text-align: center;
			height: auto;
			line-height: 1;
		}
		&:hover{
			color: @c2;
			background-color: #333;
		}
		&:before{
			.fi;
			content: '\e80b';
			float: right;
			font-size: 33px;
			margin: 0 0 0 20px;
			@media @xs {
				float: none;
				display: block;
				margin: 0 0 10px;
				font-size: 28px;
			}
		}
	}
}
.mod_menu-select {
	.clearfix;
	position: relative;
	background: #e8e8e8;
	background: -moz-linear-gradient(top,  #e8e8e8 0%, #d1d1d1 100%);
	background: -webkit-linear-gradient(top,  #e8e8e8 0%,#d1d1d1 100%);
	background: linear-gradient(to bottom,  #e8e8e8 0%,#d1d1d1 100%);
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 6px;
		background: -moz-linear-gradient(top,  rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 99%, rgba(0,0,0,0) 100%);
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%);
		background: linear-gradient(to bottom,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%);
	}
	.mod-title {
		position: relative;
		float: left;
		width: 15%;
		margin: 50px 0 20px;
		padding: 0 50px 0 0;
		font-size: 19px;
		letter-spacing: -0.02em;
		font-weight: 600;
		text-transform: uppercase;
		@media @md {
			width: 18%;
			font-size: 17px;
		}
		@media @sm, @xs {
			float: none;
			width: auto;
			text-align: center;
			margin: 20px 0;
			padding: 0 0 10px;
			border-bottom: 1px solid #ccc;
		}
		&:before{
			.fi;
			.border-radius(50%);
			content: '\e80e';
			position: absolute;
			top: 50%;
			right: 0;
			width: 50px;
			height: 50px;
			line-height: 48px;
			margin: -25px 0 0;
			text-align: center;
			font-size: 32px;
			border: 1px solid @c1;
			@media @sm, @xs {
				display: none;
			}
		}
	}
	ul {
		.rli;
		.clearfix;
		float: left;
		width: 85%;
		padding: 45px 0 43px 19px;
		@media @md {
			width: 82%;
		}
		@media @sm, @xs {
			float: none;
			width: auto;
			text-align: center;
			padding: 0 0 30px;
		}
		li {
			.rli;
			float: left;
			margin: 0 0 0 14px;
			@media @sm, @xs {
				float: none;
				display: inline-block;
				margin: 0 10px;
			}
			a {
				.transition(0.2s);
				display: block;
				height: 64px;
				@media @md {
					height: 48px;
					margin-top: 8px;
				}
				img {
					.transition(0.2s);
					position: relative;
					top: 0;
					max-height: 100%;
					width: auto!important;
					filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
					filter: gray;
					-webkit-filter: grayscale(100%);
				}
				&:hover{
					img {
						top: 10px;
						filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
						-webkit-filter: grayscale(0%);
					}
				}
			}
		}
	}
}
.mod_custom-slideshow {
	position: relative;
	background: #d1d1d1;
	background: -moz-linear-gradient(top,  #d1d1d1 0%, #d1d1d1 50%, #f0f0f0 100%);
	background: -webkit-linear-gradient(top,  #d1d1d1 0%,#d1d1d1 50%,#f0f0f0 100%);
	background: linear-gradient(to bottom,  #d1d1d1 0%,#d1d1d1 50%,#f0f0f0 100%);
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 46.5%;
		background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
		background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
		background-size: 100% 200%;
		background-repeat: no-repeat;
	}
	.items {
		.item {
			display: none;
			width: 100%;
			&:first-of-type {
				display: block;
			}
			&.cycle-slide {
				overflow: hidden;
				figure {
					left: -50%;
					opacity: 0;
					width: 0%;
					padding-top: 33.3333%;
				}
				.content {
					top: 50%;
					h2 {
						left: 100%;
						opacity: 0;
					}
				}
			}
			&.cycle-slide-active {
				figure {
					left: 0;
					opacity: 1;
					width: 100%;
					padding-top: 0;
				}
				.content {
					top: 12%;
					h2 {
						left: 0;
						opacity: 1;
					}
				}
			}
			&.cycle-sentinel {
				figure {
					width: 100%;
					padding-top: 0;
				}
			}
			a {
				color: @c1;
				text-decoration: none;
			}
			figure {
				.transition(0.8s);
				position: relative;
				img {
					display: block;
					margin: auto;
				}
			}
			.content {
				.transition(0.9s);
				position: absolute;
				left: 20px;
				top: 12%;
				width: 33.3333%;
				h2 {
					.transition(0.9s);
					position: relative;
					font-size: 46px;
					@media @md {
						font-size: 38px;
					}
					@media @sm {
						font-size: 26px;
					}
					@media @xs {
						font-size: 14px;
						font-weight: normal;
					}
					mark {
						color: @c2;
					}
				}
			}
		}
	}
	.pager {
		position: absolute;
		bottom: 3px;
		left: 0;
		right: 0;
		z-index: 101;
		.container {
			padding-top: 20px;
			padding-bottom: 20px;
			@media @xs {
				padding-bottom: 0;
			}
			span {
				.border-radius(50%);
				display: inline-block;
				width: 15px;
				height: 15px;
				margin: 0 0 0 10px;
				text-indent: -9999px;
				border: 1px solid #c3c3c3;
				cursor: pointer;
				&:first-child {
					margin-left: 25px;
				}
				&:hover{
					border-color: @c1;
				}
				&.cycle-pager-active {
					border-color: @c1;
					background: @c2;
				}
			}
		}
	}
	.prev, .next {
		position: absolute;
		z-index: 101;
		top: 50%;
		left: 2%;
		width: 50px;
		height: 50px;
		line-height: 50px;
		margin: 0 0 0;
		text-align: center;
		color: @c1;
		text-decoration: none;
		font-size: 30px;
		@media @xs {
			display: none;
		}
		&:hover{
			color: @c2;
		}
		&:before{
			.fi;
			content: '\e811';
		}
	}
	.next {
		left: auto;
		right: 2%;
		&:before{
			content: '\e812';
		}
	}
}
.mod_newsflash_xart {
	position: relative;
	padding: 62px 0 51px;
	color: #fff;
	background: #434044;
	background: -moz-linear-gradient(left,  #434044 0%, #7d7b82 50%, #434044 100%);
	background: -webkit-linear-gradient(left,  #434044 0%,#7d7b82 50%,#434044 100%);
	background: linear-gradient(to right,  #434044 0%,#7d7b82 50%,#434044 100%);
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: url(../images/bg/02.png) center;
	}
	&:after{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 10px;
		background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 99%, rgba(0,0,0,0.3) 100%);
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 99%,rgba(0,0,0,0.3) 100%);
		background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 99%,rgba(0,0,0,0.3) 100%);
	}
	.mod-title {
		float: left;
		font-size: 36px;
		line-height: 1.2;
		text-transform: uppercase;
		font-weight: 300;
		@media @xs {
			float: none;
		}
	}
	nav {
		margin: 12px 0;
		float: right;
		font-size: 15px;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		@media @xs {
			float: none;
		}
		a {
			display: inline-block;
			color: #fff;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
			&:before{
				.fi;
				content: '\e814';
				float: left;
				font-size: 28px;
				line-height: 1;
				margin: -4px 13px -6px 0;
			}
		}
	}
	.items {
		.clearfix;
		position: relative;
		clear: both;
		margin: 0 -10px;
		padding: 45px 0 0;
		.item {
			.clearfix;
			float: left;
			width: 50%;
			padding: 0 10px 30px;
			color: #fff;
			font-size: 16px;
			letter-spacing: 0.02em;
			position: relative;
			@media @xs {
				float: none;
				width: auto;
			}
			a {
				color: #fff;
				text-decoration: none;
				&:hover{
					.content {
						h2 {
							color: @c2;
						}
					}
				}
				.date {
					position: absolute;
					top: -6px;
					left: -2px;
					font-size: 14px;
					line-height: 1.3;
					padding: 8px 0 0;
					text-align: center;
					width: 75px;
					font-weight: normal;
					background: #000;
					&:before{
						content: '';
						position: absolute;
						top: 100%;
						left: 0;
						border-bottom: 20px solid transparent;
						border-left: 75px solid #000;
					}
					mark {
						display: block;
						font-weight: bold;
						color: @c2;
					}
				}
				figure {
					float: left;
					width: 40.5%;
					padding: 7px 33px 0 0;
					@media @xs {
						float: none;
						padding: 0;
						width: auto;
						margin: 0 0 20px;
					}
					img {
						display: block;
					}
				}
				.content {
					padding: 0 30px 0 0;
					@media @xs {
						padding-right: 0;
					}
					h2 {
						text-transform: uppercase;
						font-size: 24px;
						letter-spacing: 0;
						margin: 0 0 20px;
					}
				}
			}
		}
	}
}
.mod_menu-info {
	position: relative;
	font-size: 20px;
	line-height: 1.2;
	font-weight: normal;
	color: #fff;
	background: #202126;
	overflow: hidden;
	@media @md {
		font-size: 17px;
	}
	@media @sm {
		font-size: 16px;
	}
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: url(../images/bg/02.png) center;
	}
	ul {
		.rli;
		.clearfix;
		li {
			.rli;
			float: left;
			width: 33.3333%;
			padding: 117px 2% 97px;
			text-align: center;
			@media @sm {
				padding: 70px 0 50px;
			}
			@media @xs  {
				float: none;
				padding: 50px 0;
				width: auto;
			}
			&:nth-child(odd) {
				&:after{
					display: block;
					@media @sm {
						-ms-transform: rotate(7deg);
						-webkit-transform: rotate(7deg);
						transform: rotate(7deg);
					}
					@media @xs {
						display: none;
					}
				}
				&:before{
					display: block;
					@media @sm {
						-ms-transform: rotate(-7deg);
						-webkit-transform: rotate(-7deg);
						transform: rotate(-7deg);
					}
					@media @xs {
						display: none;
					}
				}
			}
			&:after, &:before {
				display: none;
				content: '';
				position: absolute;
				top: -50%;
				right: 0;
				bottom: -50%;
				width: 1px;
				background: #fff;
				-ms-transform: rotate(17.6deg);
				-webkit-transform: rotate(17.6deg);
				transform: rotate(17.6deg);
			}
			&:before{
				-ms-transform: rotate(-17.6deg);
				-webkit-transform: rotate(-17.6deg);
				transform: rotate(-17.6deg);
			}
			figure {
				.clearfix;
				position: relative;
				width: 102px;
				height: 58px;
				padding: 0 13px;
				margin: 0 auto 80px;
				border-left: 2px solid #fff;
				border-right: 2px solid #fff;
				span {
					display: block;
					&:before, &:after{
						content: '';
						position: absolute;
						top: 0;
						left: -2px;
						right: -2px;
						bottom: 0;
						border-left: 2px solid #fff;
						border-right: 2px solid #fff;
						-ms-transform: rotate(60deg);
						-webkit-transform: rotate(60deg);
						transform: rotate(60deg);
					}
					&:after{
						-ms-transform: rotate(-60deg);
						-webkit-transform: rotate(-60deg);
						transform: rotate(-60deg);
					}
				}
				img {
					display: block;
					margin: -7px 0;
				}
			}
		}
	}
}
.mod_menu-interests {
	position: relative;
	padding: 50px 0 60px;
	background: #f2f2f2;
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: url(../images/bg/02.png) center;
		-webkit-opacity: 0.2;
		-moz-opacity: 0.2;
		opacity: 0.2;
		filter:alpha(opacity=20);
	}
	.mod-title {
		color: @c2;
		text-align: center;
		text-transform: uppercase;
		font-size: 30px;
		line-height: 1.2;
		font-weight: normal;
		margin: 0 0 52px;
	}
	ul {
		.rli;
		.clearfix;
		margin: 0 -10px;
		li {
			.rli;
			float: left;
			width: 25%;
			padding: 0 10px;
			margin: 0 0 20px;
			text-align: center;
			@media @sm {
				width: 50%;
			}
			@media @xs {
				width: auto;
				float: none;
			}
			a {
				display: block;
				position: relative;
				color: #fff;
				text-decoration: none;
				&:hover{
					&:before{
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
					}
					&:after{
						bottom: 57%;
						-webkit-opacity: 1;
						-moz-opacity: 1;
						opacity: 1;
						filter:alpha(opacity=100);
					}
					h2 {
						top: 49%;
						-webkit-opacity: 1;
						-moz-opacity: 1;
						opacity: 1;
						filter:alpha(opacity=100);
					}
				}
				&:before{
					.transition(0.1s);
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					right: 50%;
					bottom: 50%;
					background: fade(#000,65%);
					@media @xs {
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
					}
				}
				&:after{
					.fi;
					.transition(0.2s);
					content: '\e815';
					position: absolute;
					bottom: 70%;
					left: 50%;
					width: 40px;
					height: 40px;
					line-height: 40px;
					margin: 0 0 0 -20px;
					font-size: 35px;
					-webkit-opacity: 0;
					-moz-opacity: 0;
					opacity: 0;
					filter:alpha(opacity=0);
					@media @xs {
						bottom: 57%;
						-webkit-opacity: 1;
						-moz-opacity: 1;
						opacity: 1;
						filter:alpha(opacity=100);
					}
				}
				figure {
					&:before{
						.box-shadow(inset 0 0 18px fade(#000,40%));
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
					}
					img {
						display: block;
					}
				}
				h2 {
					.transition(0.2s);
					position: absolute;
					top: 60%;
					left: 0;
					right: 0;
					font-style: italic;
					font-size: 20px;
					font-weight: normal;
					margin: 0 15%;
					-webkit-opacity: 0;
					-moz-opacity: 0;
					opacity: 0;
					filter:alpha(opacity=0);
					@media @md {
						font-size: 17px;
					}
					@media @xs {
						top: 49%;
						-webkit-opacity: 1;
						-moz-opacity: 1;
						opacity: 1;
						filter:alpha(opacity=100);
					}
				}
			}
		}
	}
}
.mod_custom-contact {
	.clearfix;
	color: #fff;
	padding: 0 0 30px;
	margin: 0 0 50px;
	border-bottom: 2px solid #5e5e5e;
	.mod-title {
		text-transform: uppercase;
		line-height: 1.2;
		font-size: 30px;
		font-weight: normal;
		margin: 0 0 50px;
		@media @sm, @xs {
			text-align: center;
		}
		mark {
			color: @c3;
		}
	}
	.address {
		position: relative;
		float: left;
		width: 44.5%;
		padding: 0 210px 0 95px;
		font-size: 16px;
		line-height: 1.4;
		font-weight: 600;
		margin: 0 0 40px;
		@media @md {
			width: 55%;
		}
		@media @sm {
			width: auto;
			float: none;
			margin-left: 12%;
			margin-right: 12%;
		}
		@media @xs {
			width: auto;
			float: none;
			padding: 0;
			text-align: center;
		}
		&:before, &:after{
			.fi;
			content: '\e816';
			position: absolute;
			left: 0;
			top: 15px;
			height: 34px;
			line-height: 34px;
			width: 60px;
			text-align: center;
			font-size: 32px;
			border-left: 2px solid #fff;
			border-right: 2px solid #fff;
			@media @xs {
				display: none;
			}
		}
		&:after{
			content: '';
			-ms-transform: rotate(60deg);
			-webkit-transform: rotate(60deg);
			transform: rotate(60deg);
		}
		address {
			font-style: normal;
			margin: 0;
			&:before{
				content: '';
				position: absolute;
				left: 0;
				top: 15px;
				height: 34px;
				width: 60px;
				border-left: 2px solid #fff;
				border-right: 2px solid #fff;
				-ms-transform: rotate(-60deg);
				-webkit-transform: rotate(-60deg);
				transform: rotate(-60deg);
				@media @xs {
					display: none;
				}
			}
			&:after {
				content: '';
				position: absolute;
				right: 0;
				top: 50%;
				width: 205px;
				height: 93px;
				margin: -42px 0 0;
				background: url(../images/icon/04.png);
				background-size: auto 100%;
				background-repeat: no-repeat;
				@media @xs {
					display: none;
				}
			}
		}
	}
	.contact {
		position: relative;
		float: left;
		width: 38.5%;
		font-size: 16px;
		line-height: 1.4;
		font-weight: 600;
		padding: 0 12px 0 144px;
		margin: 0 0 40px;
		border-left: 2px solid #5e5e5e;
		border-right: 2px solid #5e5e5e;
		@media @md  {
			width: 45%;
			padding-right: 0;
			border-right: none;
		}
		@media @sm {
			float: none;
			width: auto;
			border: 0;
			margin-left: 12%;
			margin-right: 12%;
			padding-left: 95px;
		}
		@media @xs {
			float: none;
			width: auto;
			border: 0;
			padding: 0;
			text-align: center;
		}
		&:before, &:after{
			.fi;
			content: '\e817';
			position: absolute;
			left: 49px;
			top: 15px;
			height: 34px;
			line-height: 34px;
			width: 60px;
			text-align: center;
			font-size: 32px;
			border-left: 2px solid #fff;
			border-right: 2px solid #fff;
			@media @sm {
				left: 0;
			}
			@media @xs {
				display: none;
			}
		}
		&:after{
			content: '';
			-ms-transform: rotate(60deg);
			-webkit-transform: rotate(60deg);
			transform: rotate(60deg);
		}
		a {
			color: @c3;
		}
		.inner {
			&:before{
				.fi;
				content: '';
				position: absolute;
				left: 49px;
				top: 15px;
				height: 34px;
				width: 60px;
				border-left: 2px solid #fff;
				border-right: 2px solid #fff;
				-ms-transform: rotate(-60deg);
				-webkit-transform: rotate(-60deg);
				transform: rotate(-60deg);
				@media @sm {
					left: 0;
				}
				@media @xs {
					display: none;
				}
			}
		}
		.title {
			width: 20%;
			display: inline-block;
			vertical-align: bottom;
			margin: 0 -4px 0 0;
			@media @xs {
				width: auto;
				display: block;
				margin: 0;
			}
		}
		.content {
			width: 80%;
			display: inline-block;
			vertical-align: bottom;
			margin: 0 -4px 0 0;
			text-align: right;
			@media @sm  {
				text-align: left;
			}
			@media @xs {
				width: auto;
				display: block;
				margin: 0;
				text-align: center;
			}
			mark {
				color: @c3;
				font-size: 24px;
			}
		}
	}
	.media {
		position: relative;
		float: left;
		width: 17%;
		margin: 0 0 40px;
		text-align: right;
		@media @md, @sm, @xs {
			padding-top: 20px;
			clear: both;
			width: auto;
			float: none;
			text-align: center;
		}
		ul {
			.rli;
			margin: 16px 0;
			li {
				.rli;
				display: inline-block;
				vertical-align: top;
				margin: 0 0 0 16px;
				@media @md, @sm, @xs {
					margin: 0 8px;
				}
				a {
					.transition(0.2s);
					position: relative;
					display: block;
					height: 34px;
					line-height: 34px;
					width: 60px;
					font-size: 34px;
					text-align: center;
					color: @c3;
					border-left: 2px solid @c3;
					border-right: 2px solid @c3;
					&:hover{
						color: #fff;
					}
					&:before, &:after{
						.fi;
						content: '';
						position: absolute;
						left: -2px;
						top: 0;
						height: 34px;
						width: 60px;
						border-left: 2px solid @c3;
						border-right: 2px solid @c3;
						-ms-transform: rotate(60deg);
						-webkit-transform: rotate(60deg);
						transform: rotate(60deg);
					}
					&:after{
						-ms-transform: rotate(-60deg);
						-webkit-transform: rotate(-60deg);
						transform: rotate(-60deg);
					}
				}
			}
		}
	}
}
.mod_menu-footer-shoping,
.mod_menu-footer-range,
.mod_menu-footer-brands,
.mod_menu-footer-payment {
	color: #fff;
	font-weight: 600;
	float: left;
	width: 25%;
	padding: 0 20px 0 0;
	margin: 0 0 30px;
	@media @sm, @xs {
		text-align: center;
	}
	a {
		color: #fff;
	}
	.mod-title {
		font-size: 30px;
		line-height: 1.2;
		font-weight: normal;
		margin: 0 0 36px;
		@media @sm, @xs {
			margin: 0 0 10px;
		}
	}
	ul {
		.rli;
		li {
			font-size: 16px;
			line-height: 1.2;
			padding-left: 11px;
			margin: 0 0 11px;
			@media @sm, @xs {
				display: inline;
				padding: 0;
				margin: 0 10px;
				&:before{
					display: none;
				}
			}
			&:before{
				top: 3px;
			}
			a {
				
			}
		}
	}
}
.mod_menu-footer-shoping {
	width: 22%;
	@media @md {
		width: 28%;
	}
	@media @sm, @xs {
		float: none;
		width: auto;
	}
}
.mod_menu-footer-range {
	width: 21%;
	@media @md {
		width: 28%;
	}
	@media @sm, @xs {
		float: none;
		width: auto;
	}
}
.mod_menu-footer-brands {
	width: 32%;
	padding-right: 30px;
	@media @md {
		width: 44%;
	}
	@media @sm, @xs {
		float: none;
		width: auto;
	}
	ul {
		li {
			display: inline-block;
			vertical-align: top;
			width: 28%;
			padding-right: 5px;
			&:first-child {
				margin-left: -4px;
			}
		}
	}
}
.mod_menu-footer-payment {
	@media @md {
		clear: both;
		width: auto;
		float: none;
	}
	@media @sm, @xs {
		float: none;
		width: auto;
	}
	ul {
		li {
			display: inline-block;
			margin: 0 20px 0 0;
		}
	}
}
.eshop-items {
	.eshop-title {
		margin: 0 0 35px;
	}
	.eshop-description {
		.clearfix;
		line-height: 1.7;
		margin: 0 0 40px;
		.img-left {
			margin-right: 50px;
		}
	}
	.eshop-meta {
		.order {
			.clearfix;
			padding: 0 0 25px;
			margin: 0 0 35px;
			border-bottom: 1px solid #ccc;
			label {
				display: inline-block;
				vertical-align: middle;
				margin: 0 -4px 0 0;
				font-size: 16px;
				line-height: 1.1;
				width: 25%;
				text-align: right;
				@media @xs {
					width: auto;
					display: block;
					text-align: left;
					margin: 0 0 10px;
				}
			}
			.input {
				display: inline-block;
				vertical-align: middle;
				margin: 0 -4px 0 0;
				padding: 0 0 0 20px;
				width: 25%;
				@media @xs {
					width: auto;
					display: block;
					padding: 0;
					margin: 0 0 20px;
				}
			}
		}
		.show {
			font-size: 16px;
			margin: 0 0 55px;
			mark {
				color: @c2;
				font-weight: bold;
			}
		}
	}
	.row-items {
		margin: 0 -10px;
		.item {
			display: inline-block;
			vertical-align: top;
			width: 33.3333%;
			margin: 0 -4px 110px 0;
			padding: 0 10px;
			text-align: center;
			@media @xs {
				display: block;
				width: auto;
				margin-right: 0;
			}
			a {
				.transition(0.2s);
				display: block;
				color: @c1;
				text-decoration: none;
				border: 1px solid #e6e6e6;
				&:hover{
					background: #f1f1f1;
				}
				figure {
					position: relative;
					margin: 0 0 26px;
					&:before{
						.box-shadow(inset 0 0 18px fade(#000,40%));
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
					}
					img {
						display: block;
					}
				}
				h2 {
					margin: 0 8% 10px;
					font-weight: normal;
					font-size: 21px;
					line-height: 23px;
					min-height: 46px;
					font-weight: 600;
					@media @md {
						font-size: 18px;
					}
					@media @xs {
						min-height: 0;
					}
				}
				.price {
					font-size: 30px;
					line-height: 1;
					white-space: nowrap;
					color: @c2;
					@media @md {
						font-size: 26px;
					}
					mark {
						color: @c2;
						font-weight: 900;
					}
				}
				nav {
					.btn;
					position: relative;
					top: 25px;
					font-weight: 600;
					height: 50px;
					line-height: 50px;
				}
			}
		}
	}
}
.detail-image {
	.clearfix;
	float: left;
	width: 55%;
	padding: 10px 45px 0 0;
	margin: 0 0 50px;
	@media @sm {
		float: none;
		width: auto;
		padding-right: 0;
	}
	@media @xs {
		width: auto;
		padding-right: 0;
		margin: 0 0 20px;
	}
	figure {
		margin: 0 0 15px;
		@media @sm {
			float: left;
			width: 50%;
		}
		a {
			display: block;
			position: relative;
			&:hover{
				&:before{
					.box-shadow(inset 0 0 100px #000);
				}
			}
			&:before{
				.transition(0.2s);
				.box-shadow(inset 0 0 18px fade(#000,40%));
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
			img {
				display: block;
			}
		}
	}
	.thumbnails {
		.rul;
		.clearfix;
		margin: 0 -8px;
		@media @sm {
			width: 50%;
			float: right;
		}
		li {
			.rli;
			float: left;
			width: 25%;
			padding: 0 8px 15px;
			@media @sm {
				width: 50%;
				padding-bottom: 21px;
			}
			a {
				display: block;
				position: relative;
				&:hover{
					&:before{
						.box-shadow(inset 0 0 50px #000);
					}
				}
				&:before{
					.transition(0.2s);
					.box-shadow(inset 0 0 18px fade(#000,40%));
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
				}
				img {
					display: block;
				}
			}
		}
	}
}
.detail-description {
	float: right;
	width: 45%;
	padding: 0 0 0 30px;
	margin: 0 0 50px;
	@media @sm {
		float: none;
		width: auto;
		padding-left: 0;
	}
	@media @xs {
		float: none;
		width: auto;
		padding-left: 0;
	}
	h1 {
		margin: 0 0 30px;
	}
	h2 {
		font-size: 22px;
		font-weight: 600;
	}
	div.more {
		text-align: right;
		margin: 25px 0 50px;
		a {
			display: inline-block;
			font-size: 16px;
			text-decoration: none;
			text-transform: uppercase;
			&:hover{
				text-decoration: underline;
			}
			&:before{
				.fi;
				content: '\e812';
				float: right;
				color: @c1;
				margin: 0 0 0 12px;
			}
		}
	}
	table.info {
		margin: 25px 0 50px;
		min-width: 70%;
		tr {
			th,td {
				padding: 0 0 15px;
				font-weight: normal;
				font-size: 17px;
				vertical-align: top;
			}
			td {
				padding-left: 50px;
				.text-success, .text-error {
					text-transform: uppercase;
					font-weight: bold;
					font-size: 18px;
					[class^="icon-"] {
						display: inline-block;
						vertical-align: middle;
						font-size: 32px;
						margin: 0 10px 0 0;
						&:before{
							margin: 0;
						}
					}
				}
			}
		}
	}
	.basket {
		.clearfix;
		margin: 0 0 2px;
		background: @c1;
		.price {
			position: relative;
			float: left;
			width: 53%;
			padding: 15px 20px 15px 30px;
			color: #000;
			background: @c2;
			font-weight: 600;
			font-size: 14px;
			line-height: 1.3;
			min-height: 100px;
			@media @xs {
				width: auto;
				float: none;
			}
			&:before{
				content: '';
				position: absolute;
				left: 100%;
				top: 33px;
				border: 16px solid transparent;
				border-left: 13px solid @c2;
				border-right: none;
				@media @xs {
					display: none;
				}
			}
			mark {
				color: #000;
				font-size: 24px;
				strong {
					font-size: 32px;
					font-weight: 900;
				}
			}
		}
		input[type="text"], input[type="number"] {
			float: left;
			width: 14%;
			margin: 28px 0 28px 9%;
			padding: 0;
			border: 0;
			font-size: 18px;
			height: 43px;
			text-align: center;
			@media @xs {
				width: 26%;
			}
		}
		button {
			position: relative;
			padding: 0 0 0 20px;
			width: 24%;
			margin: 28px 0;
			font-size: 0;
			height: 43px;
			font-weight: normal;
			@media @xs {
				width: 60%;
				text-align: left;
				padding-left: 50px;
			}
			&:hover{
				background: none;
				&:before{
					color: @c2;
				}
			}
			&:before{
				.fi;
				font-size: 40px;
				content: '\e80b';
			}
			&:after{
				.fi;
				content: '\e80e';
				position: absolute;
				top: 50%;
				left: 20px;
				font-size: 24px;
				line-height: 1;
				margin: -12px 0 0;
			}
		}
	}
	.list {
		ul {
			.rul;
			li {
				.rli;
				&:first-child {
					a {
						border: 0;
					}
				}
				a {
					position: relative;
					display: block;
					padding: 35px 0 35px 50px;
					text-decoration: none;
					font-weight: 900;
					text-transform: uppercase;
					border-top: 1px solid #efefef;
					&:hover{
						color: @c1;
					}
					[class^="icon-"] {
						position: absolute;
						left: 0;
						top: 29px;
						font-size: 32px;
						line-height: 1;
						&:before{
							margin: 0;
						}
					}
				}
			}
		}
	}
}
.panes {
	.tabs {
		.rul;
		.clearfix;
		border-bottom: 1px solid @c1;
		li {
			.rli;
			float: left;
			margin: 0 20px 0 0;
			@media @xs {
				float: none;
				margin: 0 0 10px;
			}
			&.cycle-pager-active {
				&:before{
					top: 100%;
					left: 1px;
					right: 1px;
					border-top: 1px solid #fff;
				}
				a {
					color: @c2;
					border-color: @c1;
				}
			}
			a {
				display: block;
				text-decoration: none;
				padding: 25px 25px 18px;
				font-size: 16px;
				line-height: 1;
				text-transform: uppercase;
				color: @c1;
				border: 1px solid #bfbfbf;
				border-bottom: none;
				@media @xs {
					border: 1px solid #bfbfbf;
				}
				[class^="icon-"] {
					font-size: 20px;
					float: left;
					margin: -2px 18px 0 0;
					&:before{
						margin: 0;
					}
				}
			}
		}
	}
	.pane {
		padding: 40px 0 50px;
		font-size: 15px;
		line-height: 2.2;
		font-weight: normal;
		@media @sm, @xs {
			padding-left: 0;
			padding-right: 0;
		}
		@media @xs {
			padding-top: 20px;
		}
		&.cycle-slide {
			position: static!important;
			display: none!important;
			&.cycle-slide-active {
				display: block!important;
			}
		}
		a.more {
			display: inline-block;
			text-transform: uppercase;
			text-decoration: none;
			font-weight: 600;
			font-size: 18px;
			line-height: 1;
			margin: 0 0 0 10px;
			&:hover{
				text-decoration: underline;
			}
			&:before{
				.fi;
				content: '\e812';
				color: @c1;
				font-size: 14px;
				margin: 2px 0 0 10px;
				float: right;
			}
		}
	}
}
.mod_custom-similar {
	margin: 0 0 50px;
	.mod-title {
		position: relative;
		font-size: 36px;
		padding: 0 0 0 52px;
		margin: 0 0 45px;
		@media @xs {
			font-size: 28px;
			padding: 40px 0 0;
			text-align: center;
		}
		&:before{
			.fi;
			content: '\e81d';
			position: absolute;
			left: 0;
			top: 10px;
			font-size: 34px;
			line-height: 1;
			color: @c2;
			@media @xs {
				top: 0;
				left: 50%;
				margin: 0 0 0 -17px;
			}
		}
	}
	.items {
		margin: 0 -10px;
		.item {
			display: inline-block;
			margin: 0 -2px 45px;
			width: 33.3333%;
			padding: 0 10px;
			@media @sm {
				width: 50%;
			}
			@media @xs {
				width: auto;
				display: block;
				margin: 0 0 30px;
			}
			a {
				.clearfix;
				display: block;
				position: relative;
				text-decoration: none;
				color: @c1;
				&:hover{
					figure {
						&:before{
							.box-shadow(inset 0 0 50px fade(#000,40%));
						}
					}
					.content {
						color: @c2;
					}
				}
				figure {
					position: relative;
					float: left;
					width: 37%;
					&:before{
						.transition(0.2s);
						.box-shadow(inset 0 0 18px fade(#000,40%));
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
					}
					img {
						display: block;
					}
				}
				.content {
					position: relative;
					float: left;
					width: 63%;
					padding: 0 0 0 25px;
					font-size: 16px;
					&:before{
						content: '';
						position: absolute;
						top: 0;
						bottom: 3px;
						right: 0;
						width: 16px;
						border: 1px solid #e6e6e6;
						border-left: none;
					}
					h2 {
						font-weight: 600;
						font-size: 21px;
						line-height: 1;
						margin: 0 0 3px;
					}
					p {
						margin: 0 0 18px;
					}
					.price {
						color: @c2;
						font-size: 30px;
						line-height: 1;
						mark {
							white-space: nowrap;
							font-weight: 900;
							color: @c2;
						}
					}
				}
			}
		}
	}
}
#page-footer {
	padding: 35px 0 100px;
	.container {
		text-align: center;
	}
	.copy {
		display: inline-block;
		vertical-align: top;
		font-size: 15px;
		padding: 0 18px;
	}
	.xart {
		display: inline-block;
		vertical-align: top;
		font-size: 12px;
		padding: 0 18px;
		margin: 4px 0;
		border-left: 2px solid lighten(@c1,50%);
		text-transform: uppercase;
		a {
			color: @c1;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
		img {
			float: right;
			width: 14px;
			margin: 0 0 0 12px;
			height: auto!important;
		}
	}
}
.mod_cookies {
	position: fixed;
	z-index: 999;
	bottom: 0;
	left: 0;
	right: 0;
	color: #fff;
	font-size: 15px;
	background: fade(@c2,80%);
	@media @xs {
		position: static;
	}
	a {
		color: #fff;
	}
	p {
		margin: 5px 0;
	}
	nav {
		position: absolute;
		bottom: 100%;
		right: 20px;
		a {
			.btn;
			background: fade(@c2,80%);
		}
	}
}
#gotop{
	@media @xs {
		display: none;
	}
	a{
		.transition(0.2s);
		.border-radius(50%);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: @c2;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e813';
			font-size: 20px;
		}
		&:hover{
			background: darken(@c2,10%);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}