nav.more{
	margin: 20px 0;
	text-align: right;
	a{
		.btn;
		&:after{
			.fi;
			position: relative;
			content: '\e812';
			margin: 0 0 0 10px;
		}
	}
}
table.normal{
	margin:0 0 20px 0;
	width:100%;
	font-size: 16px;
	background: lighten(@c1,75%);
	th,td{
		padding:8px 10px;
		border:1px solid lighten(@cp,100%);
		font-weight:normal;
	}
	&.compact th,&.compact td{
		padding:3px 10px;
	}
	tr:nth-child(odd) td{
		background: lighten(@c1,77%);
	}
	th,thead td{
		font-weight: bold;
		color: #fff;
		background: lighten(@cl,0%)!important;
		a{
			color: #fff;
		}
	}
	tfoot td{
		background: lighten(@c1,68%)!important;
	}
}
table.info{
	margin:0 0 20px 0;
	td,th{
		padding:0 7px 0 0;
	}
}
form.normal{
	margin:0 0 20px 0;
	label{
		display: block;
		margin: 0 0 10px 0;
		font-weight: bold;
	}
	.optgroup label{
		display: inline-block;
		font-weight: normal;
	}
	.fileinputs{
		position: relative;
		display: block;
		overflow: hidden;
		cursor: default;
		input.type-file{
			position:absolute;
			top: 0;
			right: 0;
			margin: 0;
			padding: 0;
			border: 0;
			width: 100%;
			height: 100%;
			font-size: 999em;
			z-index: 1;
			cursor: default;
			-webkit-opacity: 0;
			-moz-opacity: 0;
			opacity: 0;
			filter: alpha(opacity=0);
		}
		.fakefile {
			.clearfix;
			display: block;
			input[type="button"] {
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
}
.search-results .highlight,.results .highlight{
	background: @cl;
	padding: 0 3px;
	color: #fff;
}
.pagehub{
	clear: both;
	text-align: center;
	padding: 20px 0;
	a,span{
		.transition(0.2s);
		display: inline-block;
		vertical-align: middle;
		width: 46px;
		height: 46px;
		line-height: 46px;
		margin: 0 0 10px;
		font-weight: normal;
		color: @c1;
		text-decoration: none;
		background: #e6e6e6;
		&.first,&.prev,&.next,&.last {
			font-size: 37px;
			line-height: 1;
			color: #fff;
			background: @c1;
		}
		&.prev {
			margin-right: 10px;
		}
		&.next {
			margin-left: 10px;
		}
	}
	a {
		&:hover{
			background: #ddd;
		}
	}
	span.pagenav{
		color: #fff;
		font-weight: 900;
		background: @c2;
	}
	a.pagenav-ico {
		&:hover{
			background: lighten(@c1,20%);
		}
	}
	span.pagenav-ico{
		cursor: default;
		color: lighten(@cp,65%);
		background: lighten(@cp,75%);
	}
}
.clear-decor,.description_separator,.article_separator{
	clear: both;
	margin: 30px 0;
	height: 4px;
	background: #ddd url(../images/bg/02.png);
}
img.img-left,img[align=left]{
	float: left;
	margin: 8px 30px 15px 0;
	@media @xs {
		display: block;
		float: none;
		margin: 10px 0;
	}
}
img.img-right,img[align=right]{
	float: right;
	margin: 8px 0 15px 30px;
	@media @xs {
		display: block;
		float: none;
		margin: 10px 0;
	}
}
a.xeditorpopup img{
	.transition(0.2s);
	border: 8px solid lighten(@c1,70%);
}
a.xeditorpopup:hover img{
	border-color: lighten(@c1,60%);
}
#system-message dt{
	display:none;
}
#system-message{
	.message{
		position: relative;
		padding: 10px 50px;
		margin: 0 0 15px 0;
		color: #fff;
		font-size: 16px;
		font-weight: normal;
		background: @c3;
		overflow: hidden;
		&:before{
			.fi;
			content: '\e804';
			position: absolute;
			top: 8px;
			left: 0;
			font-size: 28px;
			line-height: 1;
			width: 50px;
			text-align: center;
			font-weight: normal;
		}
		&:after{
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			border-left: 300px solid transparent;
			border-bottom: 1000px solid #fff;
		}
		ul{
			.rul;
			li{
				.rli;
			}
		}
	}
	.notice{
		background: @c2;
		&:before{
			content: '\e805';
		}
	}
	.warning,.error{
		background: darken(red,15%);
		&:before{
			content: '\e806';
		}
	}
	.error{
		&:before{
			content: '\e807';
		}
	}
}
