@font-face {
  font-family: 'icons';
  src: url('../font/icons.eot?9494841');
  src: url('../font/icons.eot?9494841#iefix') format('embedded-opentype'),
       url('../font/icons.woff2?9494841') format('woff2'),
       url('../font/icons.woff?9494841') format('woff'),
       url('../font/icons.ttf?9494841') format('truetype'),
       url('../font/icons.svg?9494841#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?9494841#icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-dot-circled:before { content: '\e800'; } /* '' */
.icon-circle-empty:before { content: '\e801'; } /* '' */
.icon-check:before { content: '\e802'; } /* '' */
.icon-check-empty:before { content: '\e803'; } /* '' */
.icon-info-circled:before { content: '\e804'; } /* '' */
.icon-attention-circled:before { content: '\e805'; } /* '' */
.icon-attention:before { content: '\e806'; } /* '' */
.icon-cancel-circled:before { content: '\e807'; } /* '' */
.icon-group:before { content: '\e808'; } /* '' */
.icon-globe:before { content: '\e809'; } /* '' */
.icon-search:before { content: '\e80a'; } /* '' */
.icon-basket:before { content: '\e80b'; } /* '' */
.icon-left-open:before { content: '\e80c'; } /* '' */
.icon-down-open:before { content: '\e80d'; } /* '' */
.icon-right-open:before { content: '\e80e'; } /* '' */
.icon-up-open:before { content: '\e80f'; } /* '' */
.icon-down-open-1:before { content: '\e810'; } /* '' */
.icon-left-open-1:before { content: '\e811'; } /* '' */
.icon-right-open-1:before { content: '\e812'; } /* '' */
.icon-up-open-1:before { content: '\e813'; } /* '' */
.icon-inbox-alt:before { content: '\e814'; } /* '' */
.icon-info-circled-1:before { content: '\e815'; } /* '' */
.icon-location:before { content: '\e816'; } /* '' */
.icon-mobile:before { content: '\e817'; } /* '' */
.icon-twitter:before { content: '\e818'; } /* '' */
.icon-facebook-squared:before { content: '\e819'; } /* '' */
.icon-home:before { content: '\e81a'; } /* '' */
.icon-ok-circled2:before { content: '\e81b'; } /* '' */
.icon-help-circled:before { content: '\e81c'; } /* '' */
.icon-wrench-circled:before { content: '\e81d'; } /* '' */
.icon-info-circled-2:before { content: '\e81e'; } /* '' */
.icon-inbox:before { content: '\e81f'; } /* '' */
.icon-target:before { content: '\e820'; } /* '' */
.icon-menu:before { content: '\e821'; } /* '' */
.icon-cancel:before { content: '\e822'; } /* '' */