
.icon-dot-circled:before { content: '\e800'; } /* '' */
.icon-circle-empty:before { content: '\e801'; } /* '' */
.icon-check:before { content: '\e802'; } /* '' */
.icon-check-empty:before { content: '\e803'; } /* '' */
.icon-info-circled:before { content: '\e804'; } /* '' */
.icon-attention-circled:before { content: '\e805'; } /* '' */
.icon-attention:before { content: '\e806'; } /* '' */
.icon-cancel-circled:before { content: '\e807'; } /* '' */
.icon-group:before { content: '\e808'; } /* '' */
.icon-globe:before { content: '\e809'; } /* '' */
.icon-search:before { content: '\e80a'; } /* '' */
.icon-basket:before { content: '\e80b'; } /* '' */
.icon-left-open:before { content: '\e80c'; } /* '' */
.icon-down-open:before { content: '\e80d'; } /* '' */
.icon-right-open:before { content: '\e80e'; } /* '' */
.icon-up-open:before { content: '\e80f'; } /* '' */
.icon-down-open-1:before { content: '\e810'; } /* '' */
.icon-left-open-1:before { content: '\e811'; } /* '' */
.icon-right-open-1:before { content: '\e812'; } /* '' */
.icon-up-open-1:before { content: '\e813'; } /* '' */
.icon-inbox-alt:before { content: '\e814'; } /* '' */
.icon-info-circled-1:before { content: '\e815'; } /* '' */
.icon-location:before { content: '\e816'; } /* '' */
.icon-mobile:before { content: '\e817'; } /* '' */
.icon-twitter:before { content: '\e818'; } /* '' */
.icon-facebook-squared:before { content: '\e819'; } /* '' */
.icon-home:before { content: '\e81a'; } /* '' */
.icon-ok-circled2:before { content: '\e81b'; } /* '' */
.icon-help-circled:before { content: '\e81c'; } /* '' */
.icon-wrench-circled:before { content: '\e81d'; } /* '' */
.icon-info-circled-2:before { content: '\e81e'; } /* '' */
.icon-inbox:before { content: '\e81f'; } /* '' */
.icon-target:before { content: '\e820'; } /* '' */
.icon-menu:before { content: '\e821'; } /* '' */
.icon-cancel:before { content: '\e822'; } /* '' */